<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="AdminPanel.aspx" timeout="2880">
        <credentials>
          <user name="Admin@gmail.com" password="Admin"/>
        </credentials>
      </forms>
    </authentication>
   <authorization>
      <deny users="?"/>
    </authorization>-->

  </system.web>
</configuration>
